@import "../../_styling/variables";

nav {
    position: absolute;
    background: $color1;
    top: 0;
    left: 0;
    height: 100vh;
    width: $sidebar_width;
    border-bottom: 1px solid $color1;
    color: #ddd;

    button {
        margin-top: 5px;
        background-color:$color1;

        &:not(:first-child) {
            margin-top: 15px;
        }

        svg {
            fill: $light_color;
            height: 24px;
            width: 24px;
        }
    }

}

#logout-btn {
    position: absolute;
    color: $light_color;
    bottom: 0px;
}
