.loadWrapper {  
    background: rgba(0,0,0,0.6);  
    width: 100%;  
    height: 100%;  
    position: fixed;  
    top:0px;  
    left:0px;  
    z-index: 99999; 
    
    .loader {
        display: flex;
        justify-content: center;
        height: 100%;

        img {
            margin: auto;
            width: 100px;
        }
    }
}  